# LAB 2
## Detección de SPAM

Walter Saldaña #19897
___

Importar modulos

In [1]:
import re
import pandas as pd
import pandas_profiling as pp

/tmp/ipykernel_35459/802489621.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp

# Parte 1 – Ingeniería de características
## Exploración de datos

In [2]:
assassin = pd.read_csv("completeSpamAssassin.csv")
assassin.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [3]:
enron = pd.read_csv("enronSpamSubset.csv")
enron.head()

,Unnamed: 0.1,Unnamed: 0,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1

In [4]:
df = pd.concat([assassin[['Body', 'Label']], enron[['Body', 'Label']]], ignore_index=True)
df

                                                    Body  Label
0      \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1      1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2      1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3      ##############################################...      1
4      I thought you might like these:\n1) Slim Down ...      1
...                                                  ...    ...
16041  Subject: monday 22 nd oct\n louise ,\n do you ...      0
16042  Subject: missing bloomberg deals\n stephanie -...      0
16043  Subject: eops salary survey questionnaire\n we...      0
16044  Subject: q 3 comparison\n hi louise ,\n i have...      0
16045  Subject: confidential folder to safely pass in...      0

[16046 rows x 2 columns]

In [5]:
df.groupby("Label")["Label"].value_counts()

Label  Label
0      0        9150
1      1        6896
Name: Label, dtype: int64

In [6]:
df.sample(10)

                                                    Body  Label
10068  Subject: easy process for lovely sav . vings o...      1
3280   Urban Boquist wrote:\n> If I run spamassassin ...      0
9346   Subject: don ' t buy viia - gra so\n try our r...      1
1869   Dear our Guests,EXPLORE TURKEY WITH ASTARTETOU...      1
6756   Subject: traditional & internet marketing tool...      1
6393   Subject: got xanaa , vlcodd 1 n , somma , code...      1
10510  Subject: something unusual\n just her size . c...      1
6153   Subject: notification\n adexec investerings fi...      1
10628  Subject: cheap oem soft shipping worldwide\n d...      1
5673   Problem with spamtrap\n/home/yyyy/lib/spamtrap...      0

In [20]:
# pp.ProfileReport(df.sample(3000))

## Preprocesamiento

In [8]:
def preprocess(msg):
    msg = str(msg)
    msg = msg.replace("Subject: ", "")
    msg = re.sub(r'[^\w]', ' ', msg)
    msg = msg.replace("\n", "")
    return msg

df.Body = df.Body.apply(preprocess)
df.sample(10)

                                                    Body  Label
7456   paliourg   enl 4 rge your penls now    cllck h...      1
6568   a superb experience for shopper of quality tab...      1
14298  re   enron   resume interview of james valverd...      0
7218   your specialist   s appointment expires decemb...      1
10343  over 160 fda approved meds    rnd _ alt   rnd ...      1
5714   BTW Ken Shan suggested making a set of corpus ...      0
3410   Update of  cvsroot spamassassin spamassassin I...      0
8307     wm   hot buisness opportunity want to make m...      1
4570   On Wed  Jul 31  2002 at 12 51 29  0200  David ...      0
14313  new resume  dear vince    i am so grateful for...      0

## Representación de texto

### BoW

In [ ]:
words = pd.Series([y for x in df.Body.values.flatten() for y in x.split()]).unique()

bow = pd.DataFrame.from_dict({ k: [] for k in words })

def count_bow(msg):
    w_msg = msg.split()
    bow.loc[len(bow)] = { k: 1 for k in w_msg }
    return msg
        
df.Body.apply(count_bow)
        
bow

In [23]:
bow[bow["the"] == 1]["the"]

0    1
Name: the, dtype: int64

# Parte 2 – Implementación del modelo 
## Separación de datos

## Implementacion

# Conclusión